@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  background-color: rgb(55 65 81);
}

@keyframes cellFillAnimation {
  0% {
    border: 2px solid transparent;
    transform: scale(1, 1);
  }
  100% {
    border: 2px solid #fff;
    transform: scale(1.05, 1.05);
  }
}

/* fix this later */
@keyframes cellRevealAnimation {
  0% {
    background: transparent;
  }
  100% {
    background: inherit;
  }
}

.cell-fill-animation {
  animation: cellFillAnimation 500ms;
  animation-fill-mode: both;
}
